{{> partials/header }}
		<div class="container">
			{{> partials/navigation }}
			<section class="row-fluid content-block">
				<div class="span3">
					<img src="{{contextPath}}/static/img/profile-placeholder.png">
				</div>
				<div class="span9 content">
					<h1>{{user.forename}} {{user.surname}}</h1>
					<p>Greater London, United Kingdom</p>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vehicula consectetur rhoncus.
					Ut hendrerit suscipit mauris, sit amet molestie neque sagittis id. Sed venenatis consequat neque
					suscipit pretium. Ut in lectus sed enim vehicula pharetra id et orci.</p>
					<ul class="tags">
						<li><a href="#" class="btn btn-inverse">Marketing</a></li>
						<li><a href="#" class="btn btn-inverse">Fundraising</a></li>
						<li><a href="#" class="btn btn-inverse">Public Relations</a></li>
						<li><a href="#" class="btn btn-inverse">Overseas Aid</a></li>
					</ul>
				</div>
			</section>
			<section class="row-fluid content-block">
				
			</section>
		</div>
{{> partials/footer }}