<!DOCTYPE html>
<html lang="en-GB" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8 " />
		<title>CrowdGuru | Let's work together!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="The new helping community" />
	
		<link href="http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet" />
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" 
			th:href="@{/static/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
		<link href="../../../static/css/crowdguru.css" 
			th:href="@{/static/css/crowdguru.css}" rel="stylesheet" />
		<link rel="shortcut icon" href="../../../static/img/favicon.ico" type="image/x-icon"
		    th:href="@{/static/img/favicon.ico}" />
	</head>
	<body>
		<footer class="container" role="footer" th:fragment="footer">
			<p>A footer. &#9426; CrowdGuru.org. To view our Terms and Conditions please click here.</p>
			<ul class="footer-links">
		        <li><a href="pages/case-studies.html"
		        	th:href="@{/pages/case-studies}" >Case studies</a></li>
		        <li><a href="pages/faq.html"
		        	th:href="@{/pages/faq}" >FAQs</a></li>
		        <li><a href="pages/support-us.html" 
		        	th:href="@{/pages/support-us}" >Support Us</a></li>
		        <li><a href="pages/contact.html" 
		        	th:href="@{/pages/contact}" >Contact Us</a></li>
		        <li><a href="pages/about.html"
		        	th:href="@{/pages/about}" >About Us</a></li>
		    </ul>
		</footer>
	</body>
</html>