<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/datastore/laun"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/datastore/src/main/java/org/crowdguru/datastore/smoketest/App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.crowdguru.datastore.smoketest.App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="datastore"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Denv=local -Dlogging.directory=/tmp -Dlogging.aspect=datastore-smoketest -Dbase.logging.level=DEBUG -Dthird.party.logging.level=INFO -Dspring.profiles.active=local"/>
</launchConfiguration>
