@CHARSET "UTF-8";

body {
	padding-top:60px;
	background: #fff url('../img/bg-paper.jpg') repeat top center;
	font-size:0.8em;
}

/* type */
	h1, h2, h3 {
		font-family: "Cabin Sketch", sans-serif;
		font-weight:bold;
	}
	h2, h3 {
		font-weight:normal;
	}
	h3 {
		font-size:1.4em;
	}
	
/* restyling the hero unit */
	.hero-unit {
		background-color:transparent;
	}
	
/* task/guru boxes */
	.taskbox-small {
		margin-bottom:20px;
		padding:10px;
		border-radius:10px;
		background-color:#eed6ed;
	}
	.gurubox-small {
		margin-bottom:20px;
		padding:10px;
		border-radius:10px;
		background-color:#e5e5e5;
	}
	.orgbox-small {
		margin-bottom:20px;
		padding:10px;
		border-radius:10px;
		background-color:#e5e5e5;
	}
		.taskbox-small img, .gurubox-small img, .orgbox-small img, .loginbox img {
			width:270px;
		}

/* logins */
	.loginbox {
		background-color:#e5e5e5;
		border-radius:10px;
		padding:10px;
	}
	
/* image upload button */
	.imgplaceholder {
		width:250px;
		height:250px;
	}
	
/* Personal home styles */
	.recogniser {
		text-align:center;
	}
	.recogniser img {
		width:150px;
	}
	.inmail img {
		width:50px;
	}
	
/* temp */
	.ben {
		border:1px solid red;
	}
	.benbg {
		background-color:green;
	}
	hr {
		margin-top:0px;
	}
	
	

.tags {
	list-style: none;
	margin: 10px 0;
	overflow: hidden;
}
.tags li {
	float: left;
	margin: 0 5px 5px 0;
}
#signinModal {
	display: none;
}