@CHARSET "UTF-8";

body {
	background-color: #eee;
}
.container {
	padding-top: 40px;
}
.navbar-fixed-top .navbar-inner {
	padding-left: 10px;
	padding-right: 10px;
}
.cg-box {
	position: relative;
	margin: 15px 0;
	padding: 15px;
	*padding-top: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: auto;
}
.hero-unit {
	background-color: #fff;
	margin-top: 30px;
}
.content-block {
	background-color: #fff;
	margin-top: 30px;
}
.content {
	padding: 0 10px;
}
.thumbnail {
	background-color: #fff;
}
.thumbnails h3 {
	line-height: 1;
}
.tags {
	list-style: none;
	margin: 10px 0;
	overflow: hidden;
}
.tags li {
	float: left;
	margin: 0 5px 5px 0;
}
#signinModal {
	display: none;
}
