@CHARSET "UTF-8";

body {
	padding-top:60px;
	background: #fff url('../img/bg-paper.jpg') repeat top center;
}

/* type */
h1, h2, h3 {
	font-family: "Cabin Sketch", sans-serif;
	font-weight: bold;
}

h2, h3 {
	font-weight: normal;
}

h3 {
	font-size: 1.4em;
}

#motto {
	font-size: 1.2em;
	background-color:transparent;	
}

.footer-links {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

.footer-links li {
  display: inline;
  color: #999;
}

.footer-links li + li {
  margin-left: 20px;
}

/* task/guru boxes */
	.taskbox-small {
		margin-bottom:20px;
		padding:10px;
		border-radius:10px;
		background-color:#eed6ed;
	}
	.gurubox-small {
		margin-bottom:20px;
		padding:10px;
		border-radius:10px;
		background-color:#e5e5e5;
	}
	.orgbox-small {
		margin-bottom:20px;
		padding:10px;
		border-radius:10px;
		background-color:#e5e5e5;
	}
		.taskbox-small img, .gurubox-small img, .orgbox-small img, .loginbox img {
			width:270px;
		}

/* logins */
	.loginbox {
		background-color:#e5e5e5;
		border-radius:10px;
		padding:10px;
	}
	
/* image upload button */
	.imgplaceholder {
		width:250px;
		height:250px;
	}
	
/* Personal home styles */
	.recogniser {
		text-align:center;
	}
	.recogniser img {
		width:150px;
	}
	.inmail img {
		width:50px;
	}
	
/* temp */
	.ben {
		border:1px solid red;
	}
	.benbg {
		background-color:green;
	}
	hr {
		margin-top:0px;
	}

.tags {
	list-style: none;
	margin: 10px 0;
	overflow: hidden;
}
.tags li {
	float: left;
	margin: 0 5px 5px 0;
}

.taskCaption {
	word-wrap: break-word;
}

.taskPhotoContainer {
	width: 260px;
	height: 180px;
	overflow: hidden;
}

.padding-right-reduced {
    padding-right: 4px;
}

.padding-left-reduced {
    padding-left: 4px;
}

.panel-heading-height-reduced {
	padding-top: 1px;
	padding-bottom: 1px;
}

.bottom-right-alert {
	position: absolute;
	right: 1%;
	word-wrap:break-word;
	height:auto;
}

.notificationBase {
	left: 0;
    opacity: 1;
    position: relative;
    visibility: visible;
}

a.notificationMainLink {
    color: #333333;
    display: block;
    margin-bottom: -1px;
    padding: 7px 20px 7px 8px;
    text-decoration: none;
    z-index: 2;
}

a.notificationMainLink:hover {
    text-decoration: none;
    border-color: #DDDDDD;
    background-color: #E7E7E7;
}

.notificationContainer {
	padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    overflow: hidden;
}

.info {
	max-width: 300px;
	word-wrap: break-word;
}

.notificationsIcon {
	cursor: pointer;
}

.notificationEmphasis {
	font-weight: bold;	
}