        	<form class="navbar-form navbar-right" role="logon" action="{{contextPath}}sessions" method="POST">
            	<div class="form-group">
            		<label class="sr-only" for="inputLoginEmail">Email address</label>
              		<input type="email" id="inputLoginEmail" placeholder="Email" name="email" class="form-control input-sm"></input>
            	</div>
            	<div class="form-group">
            		<label class="sr-only" for="inputLoginPassword">Password</label>
              		<input type="password" id="inputLoginPassword" placeholder="Password" name="password" class="form-control input-sm"></input>
            	</div>
            	<button type="submit" id="buttonLogon" class="btn btn-sm ">Log on</button>
          	</form>