{{> partials/header }}
	{{> partials/navbar/anonymous }}
	
		<div class="jumbotron" id="motto">
			<iframe class="pull-right" src="http://player.vimeo.com/video/63895276" width="340" height="196"
				frameborder="0" webkitAllowFullScreen="" mozallowfullscreen="" allowFullScreen="">
			</iframe>
			<h1>Let's work together!</h1>
			<p>If you work for a charity or social enterprise and you want some help to do something, then somewhere in the crowd is a Guru who can help you do it.</p>
			<div class="btn-group">
		  		<button type="button" id="guru" class="btn btn-primary btn-large">I am a Guru &#187;</button>
		  		<button type="button" id="keyContact" class="btn btn-primary btn-large">I need a Guru &#187;</button>
			</div>
		</div>
	</div> <!-- Main contanier ends-->
</main>
{{> partials/footer }}
{{> partials/common-js }}
		<script>
		function goToRegistrationPage(type){
			window.location = contextPath + "register?type=" + type;
		};
		
		$(function() {
			$("#guru").click(function(e){
				goToRegistrationPage("guru");
			});
			$("#keyContact").click(function(e){
				goToRegistrationPage("keycontact");
			});
		});
		</script>
	</body>
</html>

