{{> partials/header }}
	{{> partials/navigation }}
	<section class="hero-unit">
		<iframe class="pull-right"
			src="http://player.vimeo.com/video/63895276" width="340" height="196"
			frameborder="0" webkitAllowFullScreen mozallowfullscreen
			allowFullScreen></iframe>
		<h1>Let's work together</h1>
		<p>If you work for a charity or social enterprise and you want some help to do something, then somewhere in the crowd is a Guru who can help you do it.</p>
		<p>
			<a href="#" class="btn btn-large">I need a Guru &raquo;</a>&nbsp;<a href="#" class="btn btn-large">I am a Guru &raquo;</a>
		</p>
	</section>
	<hr>
	<section class="row-fluid">
		<div class="span12">
			<a class="btn pull-right" href="tasks">Browse all current tasks &raquo;</a>
			<h2>Latest tasks</h2>
			<div class="row-fluid">
				<div class="span3">
					<div class="taskbox-small">
						<img src="static/img/sampledata/task-ad-img-small.jpg" class="img-rounded" alt="[TaskImage]">
						<strong>[TaskTitle]</strong>
						<br>
						[TaskShortDescription] I need help to build a world-changing application that will bring people together to do good for the causes that matter to them.
						<br>
						<i>by [OrganisationName], [OrganisationSector]</i>
						<br>
						<strong>Skills needed:</strong>[Skill], [Skill], [Skill]
						<br>
						<p><a class="btn" href="#">Help out &raquo;</a></p>
					</div>
				</div>
				<div class="span3">
					<div class="taskbox-small">
						<img src="static/img/sampledata/task-ad-img-small.jpg" class="img-rounded" alt="[TaskImage]">
						<strong>[TaskTitle]</strong>
						<br>
						[TaskShortDescription] I need help to build a world-changing application that will bring people together to do good for the causes that matter to them.
						<br>
						<i>by [OrganisationName], [OrganisationSector]</i>
						<br>
						<strong>Skills needed:</strong>[Skill], [Skill], [Skill]
						<br>
						<p><a class="btn" href="#">Help out &raquo;</a></p>
					</div>
				</div>
				<div class="span3">
					<div class="taskbox-small">
						<img src="static/img/sampledata/task-ad-img-small.jpg" class="img-rounded" alt="[TaskImage]">
						<strong>[TaskTitle]</strong>
						<br>
						[TaskShortDescription] I need help to build a world-changing application that will bring people together to do good for the causes that matter to them.
						<br>
						<i>by [OrganisationName], [OrganisationSector]</i>
						<br>
						<strong>Skills needed:</strong>[Skill], [Skill], [Skill]
						<br>
						<p><a class="btn" href="#">Help out &raquo;</a></p>
					</div>
				</div>
				<div class="span3">
					<div class="taskbox-small">
						<img src="static/img/sampledata/task-ad-img-small.jpg" class="img-rounded" alt="[TaskImage]">
						<strong>[TaskTitle]</strong>
						<br>
						[TaskShortDescription] I need help to build a world-changing application that will bring people together to do good for the causes that matter to them.
						<br>
						<i>by [OrganisationName], [OrganisationSector]</i>
						<br>
						<strong>Skills needed:</strong>[Skill], [Skill], [Skill]
						<br>
						<p><a class="btn" href="#">Help out &raquo;</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>
	<section class="row-fluid">
		<div class="span12">
			<a class="btn pull-right" href="users">See more Gurus &raquo;</a>
			<h2>Just some of the Gurus ready to help</h2>
			<div class="row-fluid">
				<div class="span3">
					<div class="gurubox-small">
						<img src="static/img/sampledata/guru-ad-img.jpg" class="img-rounded">
						<strong>[UserName]</strong>
						<br>
						<strong>Skills:</strong> [Skill], [Skill], [Skill], [Skill]
						<br>
						<strong>Profile:</strong>[UserShortProfile] Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
						<br>
						<p><a class="btn" href="#">Make contact &raquo;</a></p>
					</div>
				</div>
				<div class="span3">
					<div class="gurubox-small">
						<img src="static/img/sampledata/guru-ad-img.jpg" class="img-rounded">
						<strong>[UserName]</strong>
						<br>
						<strong>Skills:</strong> [Skill], [Skill], [Skill], [Skill]
						<br>
						<strong>Profile:</strong>[UserShortProfile] Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
						<br>
						<p><a class="btn" href="#">Make contact &raquo;</a></p>
					</div>
				</div>
				<div class="span3">
					<div class="gurubox-small">
						<img src="static/img/sampledata/guru-ad-img.jpg" class="img-rounded">
						<strong>[UserName]</strong>
						<br>
						<strong>Skills:</strong> [Skill], [Skill], [Skill], [Skill]
						<br>
						<strong>Profile:</strong>[UserShortProfile] Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
						<br>
						<p><a class="btn" href="#">Make contact &raquo;</a></p>
					</div>
				</div>
				<div class="span3">
					<div class="gurubox-small">
						<img src="static/img/sampledata/guru-ad-img.jpg" class="img-rounded">
						<strong>[UserName]</strong>
						<br>
						<strong>Skills:</strong> [Skill], [Skill], [Skill], [Skill]
						<br>
						<strong>Profile:</strong>[UserShortProfile] Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
						<br>
						<p><a class="btn" href="#">Make contact &raquo;</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
{{> partials/footer }}