<hr/>
<footer class="container" role="contentinfo">
	<p>A footer. &#9426; CrowdGuru.org. To view our Terms and Conditions please click here.</p>
	<ul class="footer-links">
        <li><a href="{{contextPath}}pages/case-studies">Case studies</a></li>
        <li><a href="{{contextPath}}pages/faq">FAQs</a></li>
        <li><a href="{{contextPath}}pages/support-us">Support Us</a></li>
        <li><a href="{{contextPath}}pages/contact">Contact Us</a></li>
        <li><a href="{{contextPath}}pages/about">About Us</a></li>
    </ul>
</footer>