<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8 " />
		<title>CrowdGuru | Let's work together!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="The new helping community" />
	
		<script type="text/javascript">
			var contextPath = "{{contextPath}}";
		</script>
		
		<link href="http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet" />
		<link href="{{contextPath}}static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="{{contextPath}}static/css/crowdguru.css" rel="stylesheet" />
		<link rel="shortcut icon" type="image/x-icon" href="{{contextPath}}static/img/favicon.ico" />
	</head>
	<body>
